.DS_Store
Aromata Coffee&Tea/.DS_Store
Tasks:
    - Index image display Text for carousel
    - About page: display like https://backatownnola.com/new-orleans-backatown-coffee-parlour-about
    - Navigation bar fix to the top of screen while scrolling